.dashboard {
    padding: 2rem;
    

    h1 {
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    .summary-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
        margin-bottom: 2rem;

        .card {
            padding: 1rem;
            border-radius: 1rem;
            color: #2a2a2a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 14px rgba(0,0,0,0.1);

            p {
                font-size: 0.85rem;
                opacity: 0.85;
            }
            h2 {
                font-size: 1.4rem;
                font-weight: 700;
            }

            &.balance {
                background: linear-gradient(135deg, rgb(255, 212, 20), #FFFF8F);
            }
            &.income {
                background: linear-gradient(135deg, #1dff4a, #027141);
            }
            &.expenses {
                background: linear-gradient(135deg, #ff000d, #8b0303);
            }
        }
    }

    .transactions {
        background: #fff;
        border-radius: 1rem;
        padding: 1.5rem;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);

        h3 {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                padding: 0.75rem, 0;
                border-bottom: 1px solid #eee;

                &:last-child {
                    border-bottom: none;
                }
                .negative {
                    color: #ff000d;
                }
                .positive {
                    color: #1dff4a;
                }
            }
        }
    }
}